.u-section-1 {background-image: url("images/OG9KN00j-min.jpg")}
.u-section-1 .u-sheet-1 {min-height: 372px}
.u-section-1 .u-layout-wrap-1 {width: 775px; margin: 86px auto 0}
.u-section-1 .u-layout-cell-1 {min-height: 186px}
.u-section-1 .u-image-1 {background-image: url("images/sdw1.jpg")}
.u-section-1 .u-container-layout-1 {box-shadow: 0 0 12px 0 rgba(255,195,0,1); padding: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 90px; background-image: none}
.u-section-1 .u-container-layout-2 {box-shadow: 0 0 13px 0 rgba(255,195,0,1); padding: 0 30px 0 0}
.u-section-1 .u-text-1 {text-shadow: 0 0 10px rgba(255,195,0,1); margin: 0 auto}
.u-section-1 .u-layout-cell-3 {min-height: 96px; background-image: none}
.u-section-1 .u-container-layout-3 {box-shadow: 0 0 13px 0 rgba(255,195,0,1); padding: 0 30px 0 0}
.u-section-1 .u-form-1 {height: 78px; width: 300px; margin: 0 auto}
.u-section-1 .u-input-1 {background-image: none}
.u-section-1 .u-btn-1 {border-style: none; font-weight: 700; background-image: none}
.u-section-1 .u-line-1 {width: 576px; margin: 30px auto -408px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-layout-cell-1 {background-position: 50% 50%}
.u-section-1 .u-layout-cell-2 {background-position: 50% 50%}
.u-section-1 .u-layout-cell-3 {background-position: 50% 50%}
.u-section-1 .u-line-1 {margin-bottom: -609px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 367px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-layout-cell-1 {min-height: 174px}
.u-section-1 .u-layout-cell-2 {min-height: 87px}
.u-section-1 .u-layout-cell-3 {min-height: 87px}
.u-section-1 .u-btn-1 {border-style: none none solid; padding: 0}
.u-section-1 .u-line-1 {margin-bottom: -684px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 560px}
.u-section-1 .u-layout-cell-1 {min-height: 192px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-2 {min-height: 78px}
.u-section-1 .u-container-layout-2 {padding-right: 10px}
.u-section-1 .u-layout-cell-3 {min-height: 83px}
.u-section-1 .u-container-layout-3 {padding-right: 10px}
.u-section-1 .u-line-1 {width: 540px; margin-bottom: -1423px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-layout-cell-1 {min-height: 136px}
.u-section-1 .u-layout-cell-2 {min-height: 69px}
.u-section-1 .u-layout-cell-3 {min-height: 98px}
.u-section-1 .u-form-group-1 {width: 100%}
.u-section-1 .u-form-group-2 {width: 100%}
.u-section-1 .u-line-1 {width: 340px; margin-bottom: -1745px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 737px}
.u-section-2 .u-layout-wrap-1 {margin: 44px 0 44px auto}
.u-section-2 .u-layout-cell-1 {min-height: 494px}
.u-section-2 .u-container-layout-1 {padding: 20px 60px 20px 20px}
.u-section-2 .u-text-1 {margin: 0 103px 0 0}
.u-section-2 .u-text-2 {font-size: 3.75rem; font-weight: 700; text-shadow: 0 0 14px rgba(255,195,0,1); margin: 20px 168px 0 0}
.u-section-2 .u-text-3 {margin: 20px 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 494px}
.u-section-2 .u-container-layout-2 {padding: 20px}
.u-section-2 .u-text-4 {font-weight: 700; margin: 0}
.u-section-2 .u-form-1 {margin: 20px 0 0}
.u-section-2 .u-form-group-1 {margin-left: auto}
.u-section-2 .u-form-group-2 {margin-left: auto}
.u-section-2 .u-form-group-3 {margin-left: auto}
.u-section-2 .u-form-group-4 {margin-left: auto}
.u-section-2 .u-form-group-5 {margin-left: auto}
.u-section-2 .u-form-group-6 {margin-left: auto}
.u-section-2 .u-form-group-7 {margin-left: auto}
.u-section-2 .u-btn-1 {margin-left: auto; background-image: none; border-style: none; font-weight: 700}
.u-section-2 .u-btn-2 {background-image: none; border-style: none; margin: 20px auto 0; padding: 0}
.u-section-2 .u-btn-3 {background-image: none; border-style: none; margin: 20px auto 0; padding: 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 481px}
.u-section-2 .u-layout-wrap-1 {margin-top: 36px; margin-bottom: 36px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-text-1 {position: relative; margin-right: 3px}
.u-section-2 .u-text-2 {position: relative; margin-right: 68px}
.u-section-2 .u-text-3 {position: relative}
.u-section-2 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 469px}
.u-section-2 .u-container-layout-1 {padding-right: 30px}
.u-section-2 .u-text-1 {margin-right: 0}
.u-section-2 .u-text-2 {margin-right: 0} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-text-2 {font-size: 3rem}
.u-section-2 .u-form-group-1 {width: 100%}
.u-section-2 .u-form-group-2 {width: 100%}
.u-section-2 .u-form-group-3 {width: 100%}
.u-section-2 .u-form-group-4 {width: 100%}
.u-section-2 .u-form-group-5 {width: 100%}
.u-section-2 .u-form-group-6 {width: 100%}
.u-section-2 .u-form-group-7 {width: 100%} }