.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 668px}
.u-section-1 .u-group-1 {min-height: 370px; background-image: none; margin: 174px auto 0 0}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-layout-wrap-1 {width: 1005px; margin: -483px auto 60px}
.u-section-1 .u-layout-cell-1 {min-height: 551px}
.u-section-1 .u-container-layout-2 {padding: 0 20px}
.u-section-1 .u-image-1 {height: 551px; margin: 0 auto 0 -20px}
.u-section-1 .u-layout-cell-2 {min-height: 551px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-text-1 {font-size: 4.0625rem; font-weight: normal; margin: 0}
.u-section-1 .u-icon-1 {height: 32px; width: 32px; background-image: none; margin: 20px auto 0 0}
.u-section-1 .u-text-2 {font-size: 1.0625rem; margin: 31px 0 0}
.u-section-1 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 600; letter-spacing: 2px; border-style: none; box-shadow: 0 0 10px 0 rgba(255,195,0,1); margin: 42px auto 0 0; padding: 9px 47px 11px 46px}
.u-section-1 .u-btn-2 {background-image: none; text-transform: uppercase; font-weight: 600; letter-spacing: 2px; border-style: none; box-shadow: 0 0 10px 0 rgba(255,195,0,1); margin: 20px auto 0 0; padding: 10px 42px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 572px}
.u-section-1 .u-group-1 {min-height: 327px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-wrap-1 {width: 840px; margin-top: -440px}
.u-section-1 .u-layout-cell-1 {min-height: 515px}
.u-section-1 .u-image-1 {height: 494px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-2 {min-height: 515px}
.u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-btn-2 {width: 200px; height: 46px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 473px}
.u-section-1 .u-group-1 {min-height: 252px; margin-top: 153px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-wrap-1 {width: 638px; margin-top: -354px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {height: 361px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-text-1 {font-size: 2.25rem}
.u-section-1 .u-btn-1 {margin-top: 23px; padding-bottom: 10px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1042px}
.u-section-1 .u-group-1 {margin-top: 220px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-wrap-1 {width: 443px; margin-top: -403px; margin-left: 48px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {height: 506px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 726px}
.u-section-1 .u-group-1 {min-height: 188px; margin-top: 106px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-wrap-1 {width: 288px; margin-top: -258px; margin-left: 26px}
.u-section-1 .u-image-1 {height: 286px; width: 249px; margin-top: 7px; margin-left: auto; margin-right: auto}
.u-section-1 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-btn-1 {padding-right: 48px} }.u-section-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/OG9KN00j-min.jpg")}
.u-section-2 .u-sheet-1 {min-height: 237px}
.u-section-2 .u-text-1 {font-size: 1.125rem; margin: 60px auto 0 0}
.u-section-2 .u-btn-1 {background-image: none; border-style: none; font-weight: 700; box-shadow: 0 0 12px 0 rgba(255,195,0,1); margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-2 {background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 259px}
.u-section-2 .u-text-1 {width: auto; margin-top: 38px}
.u-section-2 .u-btn-1 {margin-top: 46px; margin-bottom: 43px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 187px} }

@media (max-width: 767px){ .u-section-2 {background-position: 55.03% 93.42%} }

@media (max-width: 575px){ .u-section-2 .u-btn-1 {animation-duration: 1000ms} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 324px}
.u-section-3 .u-layout-wrap-1 {margin: 1px auto 1px 0}
.u-section-3 .u-layout-cell-1 {min-height: 322px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-group-1 {min-height: 172px; background-image: none; width: 901px; margin: -30px 77px 0 auto}
.u-section-3 .u-container-layout-2 {padding: 25px 30px}
.u-section-3 .u-text-1 {font-weight: 700; text-transform: none; font-size: 1.875rem; margin: 8px 0 0}
.u-section-3 .u-form-1 {height: 225px; margin: 18px 91px -143px 0}
.u-section-3 .u-input-1 {background-image: none}
.u-section-3 .u-btn-1 {background-image: none; border-style: none; font-weight: 700} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 336px}
.u-section-3 .u-layout-wrap-1 {margin-top: -71px; margin-bottom: -75px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 266px}
.u-section-3 .u-group-1 {min-height: 322px; margin-bottom: -30px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-form-1 {height: 206px; margin-right: 70px; margin-bottom: -176px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 351px}
.u-section-3 .u-layout-wrap-1 {margin-top: -59px; margin-bottom: -29px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-form-1 {margin-right: 60px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 357px}
.u-section-3 .u-layout-wrap-1 {margin-bottom: -23px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-1 {width: auto}
.u-section-3 .u-form-1 {margin-right: 0; width: 500px} }

@media (max-width: 575px){ .u-section-3 .u-layout-wrap-1 {margin-top: -54px; margin-bottom: -44px; margin-right: initial; margin-left: initial}
.u-section-3 .u-text-1 {font-size: 1.5rem}
.u-section-3 .u-form-1 {width: 300px}
.u-section-3 .u-form-group-1 {width: 100%}
.u-section-3 .u-form-group-2 {width: 100%} }